/*Defaults Styling*/
body {font:400 normal 16px/1.5 "Roboto",Helvetica,Arial,sans-serif;color:#555; background:#fff; padding:0px; margin: 0px auto;}
fieldset { padding:0px; border:none; margin-top: 0px; margin-bottom:6px; width: 100%;}
input, textarea, select {
	font:400 normal 16px/1.5 "Roboto",Helvetica,Arial,sans-serif;
	font-size: 13px; padding: 4px; color: #555;
}
select {font-size: 10px;}
a { cursor: pointer;}
fieldset.action {background:#9da2a6; margin-top:20px;}
legend {color:#1e62d0; padding:0 10px; margin:-16px 0 0 -11px; font-weight:bold;}
label {font-size:11px; font-weight:bold; color:#666;}
label.opt {font-weight:normal;}
.linkhead {background: "white"; color:#006bd0; font-size: 15px; padding: 3px 10px; font-weight:bold; cursor: pointer;}
dl {width: 100%; clear:both;}
/*dt {float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0;}*/
dd {width: 100%; padding: 5px 0 5px 10px;background:rgba(0, 0, 0, 0.14); float:left; line-height:25px; margin:0 0 5px 0;}

#block_screen {
    background-color: #333;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 99999999;
}
div.pagecenter {
	position: relative;
}
#block_screen img{
    display: block;
    margin: -100px 0 0 -60px;
    top: 50%;
    left: 50%;
    width: 120px;
    position: absolute;
}
img.ani{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
#block_screen p{
	color: #ddd;
    margin: 20px 0 0 0;
    top: 50%;
    text-align: center;
    position: absolute;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.help_container{
	display: none;
}

div.help_eq_content {
}
div.help_eq_content {
}
div.help_eq_content td{
}
.strong {
	font-weight: bold;
}
.video_div {
	line-height: 30px;
	vertical-align:middle;
	font-size: 18px;
	cursor: pointer;
}
.video_div:hover{
	color: #007fc5;
	text-shadow: 0px 0px 3px rgba(63,107,169, 0.5);
}
.video_div img{
	vertical-align:middle;
	line-height: 5px;
}
.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.datagrid-row-selected {
	text-shadow: 0px 0px 0px #ccc;
  background: lightyellow;
  color: #000;
}
.datagrid-row:hover {
	text-shadow: 0px 0px 0px #ccc;
}
.red{
	color: red;
	height: 150px;
}
.darkred{
	color: darkred;
	height: 150px;
}
code{
	color: brown;
}
.red img{
	color: red;
	top: 20px;
	position: absolute;
}
.blue {
	color: #007fc5;
}
select {
	font-size: 10px;
}
.welcome {
	float:right;
}
#tb {
	display: none;
}

footer {
    text-align: center;
    font-size: 11px;
    color: #111;
}
p.and {
	width: 100%;
	background-color: grey;
	color:white;
	font-weight:bold;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.closefieldm {
	cursor: pointer;
	float: right;
	padding: 3px 10px 0px 0px;
}
.anilink a
{
	color:#111;
	text-decoration:none;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

.anilink a:hover
{
	color:#004199;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}
.topbanner {
	background: #333;
}
.logo img {
	float: left;
	padding: 0 5px 0 2px;
	width: 30px;
	vertical-align: middle;
}
.logo h2 {
	float: left;
	padding: 0px;
	margin: 2px 0 0 0;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: normal;
	color: #ccc;
}
.clear {clear:both;}
.welcome {
	color: #ccc;
	margin: 3px;
}
.welcome a{
	padding: 0px 5px;
	color: #45bcff;
	text-decoration: none;
}
.welcome a:hover{
	padding: 0px 5px;
	color: white;
	border-bottom: 1px solid #45bcff;
	text-decoration: none;
	-webkit-transition:0.2s ease;
	-moz-transition:0.2s ease;
	-o-transition:0.2s ease;
	-ms-transition:0.2s ease;
	transition:0.2s ease;
}
dl img {
	width: 10px;
	padding-top: 8px;
}
#container {width:auto; margin:0 auto;}
#msg h3 {
	padding: 0 10px;
}
.smalltext {
	font-size: 80%;
}
.icon-padding-left {
	padding-left: 60px;
}
.icon-padding-right {
	padding-right: 60px;
}
span.icon-help-menu-right{
	padding: 0px 6px;
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.colorbox_head {
	background-color: #ccc;
}
.colorbox_head a{
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
}
.colorbox_display {
	margin: 5px;
	font-size: 12px;
	letter-spacing: 0.5px;

}
.colorbox_display h4{
	font-size: 13px;
	letter-spacing: 1px;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
}
.colorbox_display a{
	font-size: 12px;
	color: #007fc5;
	padding: 0px 0px;
	margin: 10px 0px 2px 0px;
	text-decoration: none;
}
.bgblue {
	background-color: #007fc5;
	color: white;
}
.hidden {
	display: none;
}
hr {
	border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.update_st_form_container {
	width: 98%;
}
.update_st_form {
	margin: 10px;
	font-size: 12px;
}
.closebutton {
	border:1px solid black; padding: 0px 1px 2px 2px; line-height: 9px; cursor: pointer; float: right;
	font-weight: bold;
}
.closebutton:hover {
	background: #45bcff;
}
.warn {
	color: red;
}
.center{
	text-align: center;
}
.warn img {
	float: left;
	top: 0px;
	width: 100px;
}
#err, .err {
	background-color: lightyellow;
	padding: 5px;
	color: maroon;
	font-weight: bold;
}
#drop-div {
}
.tip {
	padding: 0px 5px;
}
button.add_selected {
	margin: 0 0 0 25px;
	position: relative;
}

.add_border {
	background: #eee;
	border-right: 3px solid #3280ff !important;
}
.remove_border {
	background: #eee;
	border: 1px solid #ccc;
}
.drag {
	padding: 1px 0px;
	text-align: center;
	width: 140px;
	font-size: 13px;
	border: 1px solid #ccc;
	background-color: #eee;
}
.draggable ul{
	text-align: center;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 160px;
	font-size: 13px;
}
.draggable ul li {
	cursor:pointer;
	margin: 5px 10px;
	padding: 1px 2px;
	border: 1px solid #ccc;
	background-color: #eee;
}
.draggable ul li a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}
.draggable ul li:hover {
	background-color: #f6f6f6;
}

.reloadbutton {
	color:#666;
}
.searchbutton {
	color:#000;
	margin: 0 5px;
}
.button {
	-moz-box-shadow:inset 0px 0px 0px -50px #97c4fe;
	-webkit-box-shadow:inset 0px 0px 0px -50px #97c4fe;
	box-shadow:inset 0px 0px 0px -50px #97c4fe;
	text-indent:0px;
	display:inline-block;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:27px;
	padding: 0px 10px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #2169b0;
	opacity:0.8;filter:alpha(opacity=80);
}
.addfield {
	float: right;
	cursor: pointer;
}
#search_populate {
	display: none;
}
.button:hover {
	cursor:pointer;
	opacity:1;filter:alpha(opacity=100);
}.button:active {
	position:relative;
	top:1px;
}
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}
.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}
.close:hover,.close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
/*Safari*/
select, input, textarea, button {outline:none; resize:none;}


#thumbscontainer {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	padding: 10px 1px;
	background: #ddd;
	margin-top:15px;
	/*border-top: 1px solid #888;*/
}

#gc_img_container {
	width: auto;
}
img#gc_img{
	width:100%;
}
p#tooltip {
	clear:both;
	margin:0;
	padding:.5em;
}
#tooltip{
	position:absolute;
	border: 1px solid #007fc5;
	background: #eee;
	padding:2px 5px;
	color:#007fc5;
	display:none;
}
#thumbscontainer img {
	width:100px;
	height:73px;
	border: 1px solid #777;
	display: inline;
	padding: 0px 2px;
	margin: 0 5px;
	cursor: pointer;
}
#thumbscontainer img:hover {
	border: 1px solid #007fc5;
	display: inline;
	padding: 0 2px;
	cursor: pointer;
}
#thumbscontainer img:selected {
	border: 1px solid black;
}
#thumbscontainer a {
	display: inline;
}

#thumbscontainer a:hover {
background-color:gray;
}
#thumbscontainer a:active, #thumbscontainer a:focus {
background-color:gray;
}
.right {
	float:right;
}
.blockDiv {
  position: absolute:
  top: 0px;
  left: 0px;
  background-color: #FFF;
  width: 0px;
  height: 0px;
  z-index: 999;
}

#fountainTextG{
    width: 100%;
	color: white;
    margin: 25px 0 0 -13px;
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    font-size: 14px;
    letter-spacing: 1px;
}


.fountainTextG{
color:#999;
font-family:Arial;
font-size:25px;
text-decoration:none;
font-weight:normal;
font-style:normal;
float:left;
-moz-animation-name:bounce_fountainTextG;
-moz-animation-duration:1.82s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.5);
-webkit-animation-name:bounce_fountainTextG;
-webkit-animation-duration:1.82s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.5);
-ms-animation-name:bounce_fountainTextG;
-ms-animation-duration:1.82s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.5);
-o-animation-name:bounce_fountainTextG;
-o-animation-duration:1.82s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.5);
animation-name:bounce_fountainTextG;
animation-duration:1.82s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.5);
}

#fountainTextG_1{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainTextG_2{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainTextG_3{
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

@-moz-keyframes bounce_fountainTextG{
0%{
-moz-transform:scale(1);
color:#2C88EB;
}

100%{
-moz-transform:scale(.5);
color:#ffffff;
}

}

@-webkit-keyframes bounce_fountainTextG{
0%{
-webkit-transform:scale(1);
color:#2C88EB;
}

100%{
-webkit-transform:scale(.5);
color:#ffffff;
}

}

@-ms-keyframes bounce_fountainTextG{
0%{
-ms-transform:scale(1);
color:#2C88EB;
}

100%{
-ms-transform:scale(.5);
color:#ffffff;
}

}

@-o-keyframes bounce_fountainTextG{
0%{
-o-transform:scale(1);
color:#2C88EB;
}

100%{
-o-transform:scale(.5);
color:#ffffff;
}

}

@keyframes bounce_fountainTextG{
0%{
transform:scale(1);
color:#2C88EB;
}

100%{
transform:scale(.5);
color:#ffffff;
}

}

/********** For chart display **************/
#chartDiv {
	display: none;
}
#chartSelect {
	width: 200px;
	float: left;
}
#chartDisplayContainer {
	position: absolute;
	left: 200px;
	overflow: auto;
}
div#chartDisplayDiv {
  border: 1px solid #eee;
  margin: 10px;
  padding: 5px;
  width: 300px;
  float: left;
  text-align: center;
}
#opened_window {
	/*display: none;*/
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }