<!DOCTYPE html>
<html>
  <head>
    <title>GPS Data Viewer - Change Password </title>
    <link rel="stylesheet" type="text/css" href="[% c.request.base %]/static/css/login.css">
  </head>
  <body>
    <div id="loginform">
      <div id="logo" class="passwd"><img src="[% c.request.base %]/static/images/gps_logo.png"></div>
      <div id="mainlogin">
        <h1>GPS Data Viewer</h1>
        <form method="post" action="[% c.uri_for('/changepassword/update') %]" onsubmit="return validate();">
          <input type="text" name="username" placeholder="username" value="" required>
          <input type="password" name="oldpass" placeholder="old password" value="" required>
          <input type="password" id="newpass" name="newpass" placeholder="new password" value="" required>
          <input type="password" id="newpass_rep" name="newpass_rep" placeholder="repeat new password" value="" required>
          <button type="submit" class="button">Change!</button>
        </form>

        <div class="msg">
          [% IF res %]
            <img src="[% c.request.base %]/static/js/jquery-easyui-1.3.5/themes/icons/ok.png"> [% res %]
            <br>
            <a href="[% c.request.base %]/gps/data">Click here to go to dataviewer </a>
          [% ELSIF error_msg %]
            <span class="err"> <img src="[% c.request.base %]/static/js/jquery-easyui-1.3.5/themes/icons/cancel.png"> [% error_msg %]</span>
            <br>
          [% END %]
          <div id="info"></div><br>
          Please contact <a href="mailto:[% c.config.site_admin_email %]?Subject=GPS Data Viewer"> [% c.config.site_admin %] </a>
        </div>
      </div>
    </div>
    <footer>
      <a target="_blank" href="http://www.sanger.ac.uk/legal/cookiespolicy.html">Cookies</a> | 
      <a target="_blank" href="http://www.sanger.ac.uk/legal/"> Terms and conditions </a> | 
      &copy; @ 2014, <a target="_blank" href="http://www.sanger.ac.uk"> Wellcome Trust Sanger Institute </a>
    </footer>
    <script type="text/javascript">
      function validate() {
        var np = document.getElementById('newpass').value;
        var np_rep = document.getElementById('newpass_rep').value;
        var info_ele = document.getElementById('info');


        if(np.length < 6 && np_rep.length < 6) {
          info.innerHTML = '<span class="err"> <img src="[% c.request.base %]/static/js/jquery-easyui-1.3.5/themes/icons/cancel.png"> Password should be minimum 6 characters long!</span>';
          return false;
        }
        if(np !== np_rep) {
          info.innerHTML = '<span class="err"> <img src="[% c.request.base %]/static/js/jquery-easyui-1.3.5/themes/icons/cancel.png"> New passwords not matching!</span>';
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>